{{#if @site.cover_image}}
  <!-- div class="site-cover kg-width-full u-overlay">
    <img class="cover-image lazyload jarallax-img u-object-fit"
      data-src="{{img_url @site.cover_image}}"
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      alt="{{@site.title}}"
    -->

<div class="cover-content" style="
    background-color:white;
    color:black !important;
    max-width:100%;
">
    <h1 style="color: black; text-align: left; font-size: 3em;">Hi, I'm Roman.</h1>
    <p style="
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    line-height: 40px;
">I solve challenging business problems for companies.</p>
<p style="text-align: left;max-width: 750px;">Currently, I'm the Director of Digital Projects & Marketing at Kwiat | Fred Leighton.</p>
<p style="text-align: left;max-width: 750px;">I'm also the co-founder and COO of <a href="https://dragonbloodbalm.com">Dragon Blood Balm</a>.</p>
<p style="text-align: left;max-width: 750px;">My work draws on design, UX research, data science, product development, change management, and marketing + advertising. I started writing to create a personal reference guide for things I've learned, projects I've worked on, and interesting research to come back to later. Some people find this sort of thinking-out-loud useful, so if you'd like to get infrequent updates delivered warm to your inbox, sign up below.</p>
<div class="cover-description">
        <!-- Sign Up -->
          <form action="http://romandesign.co/sendy/subscribe" method="POST" accept-charset="utf-8" _lpchecked="1" style="width: 100%;">
              <input type="email" name="email" id="email" placeholder="Your Email Address" style="
              display: inline;
              float: left;
              max-width: 70%;
              border-radius: 0px;
              height: 40px;
              border: solid 1px #e4e4ea;
              border-right:0px !important;
              background-color: white;
              ">
              <div style="display:none;">
              <input type="hidden" name="list" value="Ext8926cMMsNQm6fRmNTa80A">
              <input type="hidden" name="subform" value="yes">
              <label for="hp">HP</label><br>
              <input type="text" name="hp" id="hp">
              </div>
              <input class="gradient-bg" type="Submit" name="submit" id="Submit" style="
              display: inline-block;
              color:white;
              float: right;
              width: 30%;
              height: 40px;
              font-size: 15px;
              box-shadow: none;
              border: 1px solid #e4e4ea;
              border-left:0px !important;
              background-color: #e4e4ea;
              ">
          </form>
        <!-- End Signup --></div>
          </div>

    <div class="cover-content" style="display:none;">
      {{#if @site.description}}
        <div class="cover-description">{{@site.description}}</div>
      {{/if}}
      {{> subscribe}}
    </div>
  </div>
  <div class="gradient-bg" style="height:15px; width:100%; margin:-25px 0px 0px 0px; padding:0px;">
  </div>
{{/if}}