{{!< default}}

<div class="content-area">
  <main class="site-main kg-width-normal">
    {{#post}}
      <article class="{{post_class}} single">
        {{> post-header tag="h1" show_meta=true single=true}}
        {{> post-media same_height=true ratio="horizontal"}}
        <div class="post-content u-text-format">
          {{content}}
        </div>
        {{> post-tags}}
      </article>

      <!-- Email Signup (old)
<div style="background-color: #e4e4ea;border-radius:5px;padding:25px;height: auto;margin: 25px 0px;">
<h2>Useful? Interesting?</h2><p>I write about designing things, building things, and implementing things in the real world. It's infrequent, but it that sounds interesting to you, sign up for fresh-in-your-inbox updates below.</p>
      {{> subscribe is_cover=true}}
</div>
      <!-- End Email Signup -->

    {{/post}}
    {{> related}}
    <!-- {{> disqus}} -->
  </main>
</div>